<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='stylesheets/style.css' />
</head>

<body>
  <header class="flex bg-gray-900 text-white">
    <h1 class="mx-4 my-1 font-bold uppercase"><%= title %></h1>
  </header>
  <main class="mx-4 my-1">
    <p>These are just some examples pages I set up to play around with a few web development tools.</p>
    <ul class="list-disc list-inside">
      <li><a class="underline hover:no-underline" href="tf.html">Tailwind & Flexbox</a>&ndash;has a few examples of <a
          href="https://developer.mozilla.org/en-US/docs/Learn/CSS/CSS_layout/Flexbox">flexbox</a> layouts implemented
        in
        <a href="tailwindcss.com/">tailwind</a>.</li>
    </ul>
  </main>
</body>

</html>