<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='stylesheets/style.css' />
  <style>
    div[name="flex-container"] {
      outline: 1px dotted blue;
      padding: 0.1px 5px;
    }

    div[name="flex-item"] {
      outline: 1px dotted red;
      padding: 5px;
      margin: 5px 0;
    }
  </style>
</head>

<body>
  <header class="flex bg-gray-900 text-white py-3">
    <h1 class="mx-8 my-1 font-bold uppercase"><%= title %></h1>
    <p class="mx-8 my-1">Some examples showing <a href="https://tailwindcss.com/">tailwind</a> flexbox based layouts.
    </p>
  </header>
  <main class="max-w-screen-md px-4 mx-auto">

    <div>
      <h2 class="my-4 text-2xl">Unstyled</h2>
      <p>This is just a set of boxes, with some outlines and padding so you can see what's going on.</p>

      <div class="my-4 p-2 border overflow-auto">
        <code><pre>&lt;div&gt;
  &lt;div&gt;Flex Item One&lt;/div&gt;
  &lt;div&gt;Flex Item Two&lt;/div&gt;
  &lt;div&gt;Flex Item Three&lt;/div&gt;
&lt;/div&gt;</pre></code>
      </div>

      <div class="my-4 p-2 border">
        <div name="flex-container">
          <div name="flex-item">Flex Item One</div>
          <div name="flex-item">Flex Item Two</div>
          <div name="flex-item">Flex Item Three</div>
        </div>
      </div>
    </div>

    <div>
      <h2 class="my-4 text-2xl">Flex Example</h2>
      <p>Simply adding <code>.flex</code> property to the flex-container turns the layout into a flexbox.</p>
      <p>The default flex-direction is row (flex-row), so the flex-items are automatically arranged in horizontal
        columns. You can use the <code>flex-col</code> property (equivalent of <code>flex-direction: row;</code>)
        switches the flex axis so that that items are arranged vertically.</code></p>
      <p>The items width and height dimensions are calculated based on the contents.</p>

      <div class="my-4 p-2 border overflow-auto">
        <code><pre>&lt;div class="flex"&gt;
  &lt;div&gt;Flex Item One&lt;/div&gt;
  &lt;div&gt;Flex Item Two with some extra text&lt;/div&gt;
  &lt;div&gt;Flex Item Three&lt;/div&gt;
&lt;/div&gt;</pre></code>
      </div>

      <div class="my-4 p-2 border">
        <div class="flex" name="flex-container">
          <div name="flex-item">Flex Item One</div>
          <div name="flex-item">Flex Item Two with some extra text</div>
          <div name="flex-item">Flex Item Three</div>
        </div>
      </div>

    </div>

    <div class="my-4 p-2 border overflow-auto">
      <code><pre>&lt;div class="flex flex-col h-48"&gt;
  &lt;div&gt;Flex Item One&lt;/div&gt;
  &lt;div&gt;Flex Item Two with some extra text&lt;/div&gt;
  &lt;div&gt;Flex Item Three&lt;/div&gt;
&lt;/div&gt;</pre></code>
    </div>

    <div class="my-4 p-2 border">
      <div class="flex flex-col h-48" name="flex-container">
        <div name="flex-item">Flex Item One</div>
        <div name="flex-item">Flex Item Two with some extra text</div>
        <div name="flex-item">Flex Item Three</div>
      </div>
    </div>


    <div>
      <h2 class="my-4 text-2xl">Flex Grow & Shrink - Equal Sizes</h2>
      <p>Sometimes want the flex-items expand/shrink depending on the available space, rather than based on the
        contents. For example, if you need three equal width columns. In Tailwind we can add the <code>flex-grow</code>
        or <code>flex-shrink</code>properties, or the <code>.flex-1</code> shorthand, which is eqivalent of
        <code>flex: 1 1 0%</code>.</p>

      <p>Apply these equally to each flex-item to get them all the same size.</p>

      <div class="my-4 p-2 border overflow-auto">
        <code><pre>&lt;div class="flex"&gt;
  &lt;div class="flex-1"&gt;Flex Item One&lt;/div&gt;
  &lt;div class="flex-1"&gt;Flex Item Two with some extra text&lt;/div&gt;
  &lt;div class="flex-1"&gt;Flex Item Three&lt;/div&gt;
&lt;/div&gt;</pre></code>
      </div>

      <div class="my-4 p-2 border">
        <div class="flex" name="flex-container">
          <div class="flex-1" name="flex-item">Flex Item One</div>
          <div class="flex-1" name="flex-item">Flex Item Two with some extra text</div>
          <div class="flex-1" name="flex-item">Flex Item Three</div>
        </div>
      </div>

      <div class="my-4 p-2 border overflow-auto">
        <code><pre>&lt;div class="flex flex-col h-48"&gt;
  &lt;div class="flex-1"&gt;Flex Item One&lt;/div&gt;
  &lt;div class="flex-1"&gt;Flex Item Two with some extra text&lt;/div&gt;
  &lt;div class="flex-1"&gt;Flex Item Three&lt;/div&gt;
&lt;/div&gt;</pre></code>
      </div>

      <div class="my-4 p-2 border">
        <div class="flex flex-col h-48" name="flex-container">
          <div class="flex-1" name="flex-item">Flex Item One</div>
          <div class="flex-1" name="flex-item">Flex Item Two with some extra text</div>
          <div class="flex-1" name="flex-item">Flex Item Three</div>
        </div>
      </div>
    </div>

    <div>
      <h2 class="my-4 text-2xl">Flex Grow & Shrink - Relative Sizes</h2>
      <p>This is a bit more difficult in tailwind. With flex you can set <code>flex-grow</code> to 1 on one column and
        2 on a different column, so that the second column takes up twice as much space. <a
          href="https://tailwindcss.com/docs/flex-grow#app">Tailwind doesn't have that flexibility out of the box</a>.
      </p>

      <p>But you can play about with combinations of widths and grow/shrink settings to get similar effects.</p>

      <div class="my-4 p-2 border overflow-auto">
        <code><pre>&lt;div class="flex"&gt;
  &lt;div class="w-1/3"&gt;Flex Item One&lt;/div&gt;
  &lt;div class="flex-1"&gt;Flex Item Two&lt;/div&gt;
&lt;/div&gt;</pre></code>
      </div>

      <div class="my-4 p-2 border">
        <div class="flex" name="flex-container">
          <div class="w-1/3" name="flex-item">Flex Item One</div>
          <div class="flex-1" name="flex-item">Flex Item Two</div>
        </div>
      </div>

      <div class="my-4 p-2 border overflow-auto">
        <code><pre>&lt;div class="flex flex-col h-48"&gt;
  &lt;div class="h-16"&gt;Flex Item One&lt;/div&gt;
  &lt;div class="flex-1"&gt;Flex Item Two&lt;/div&gt;
&lt;/div&gt;</pre></code>
      </div>

      <div class="my-4 p-2 border">
        <div class="flex flex-col h-48" name="flex-container">
          <div class="h-16" name="flex-item">Flex Item One</div>
          <div class="flex-1" name="flex-item">Flex Item Two</div>
        </div>
      </div>
    </div>


  </main>
</body>

</html>