@tailwind base;

/*-- Global styles go here */

p {
    margin: 0.5rem 0;
    line-height: 1.3;
}

a {
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

/*-------------------------*/

@tailwind components;
@tailwind utilities;
